<script id="consensus-view-template" type="text/x-handlebars-template">
    <ul class="small-block-grid-3" id="consensus-views-chooser">
        <li><a href="#" cst="ct0">{{{header0}}}</a></li>
        <li><a href="#" cst="ct1">{{{header1}}}</a></li>
        <li><a href="#" cst="ct2">{{{header2}}}</a></li>
    </ul>
    <div id="consensus-views-by-status">
        <ul class="small-block-grid-4  large-block-grid-8" id="ct0">
            {{{userPreviewLoop users0 true false}}}
        </ul>
        <ul class="small-block-grid-4  large-block-grid-8" id="ct1" style="display:none;">
            {{{userPreviewLoop users1 true false}}}
        </ul>
        <ul class="small-block-grid-4  large-block-grid-8 hide" id="ct2" style="display:none;">
            {{{userPreviewLoop users2 true false}}}
        </ul>
    </div>
</script>
