<script id="decision-preview" type="text/x-handlebars-template">
    <div class="decision decision-preview paginated-view paginated-view-preview" id="decision-{{ID}}">
        <h3>
            {{{decisionLink link name ID true}}}
        </h3>
        <div class="details">
            <p class="description">{{decision_description}}</p>
            <ul>
                <li>{{{groupLink group_link group_ID group_name false}}}</li>
                <li>Status: <span id="decision-status">{{decision_status}}</span></li>
                <li>Manager: {{manager.name}}</li>
                <li>Proposed By: {{proposed_by.name}}</li>
            </ul>
        </div>
    </div>
</script>
