<script id="notification-single" type="text/x-handlebars-template">
    <div class="notification notification" id="notification-{{id}}">
        <a href="#" id="notification-single-close" class="ht-dms-close button" style="display:none;float:right;" title="Close" nid="{{id}}">
            Close
        </a>
        <h5 class="notification-subject">
            <span class="message-subject">{{{subject}}}</span>
        </h5>
        <div class="notification-message">{{{message}}}</div>

    </div>
</script>
