<script id="comments-view-template" type="text/x-handlebars-template">
    <div class="comment ht-dms-partial">

        <div class="row">
            <div class="small-12 large-3 columns comment-meta">
                <span class="date">Posted On: {{date}}, by:</span>
                <div class="user row">
                    <div class="user-name large-9 small-12 columns"><span>{{name}}</span></div>
                    <div class="avatar user large-3 small-12 columns">{{{avatar}}}</div>
                </div>

            </div>
            <div class="comment-content small-12 large-9">
                {{{content}}}
            </div>
        </div>


    </div>
</script>
