<script id="decision-preview" type="text/x-handlebars-template">
    <div class="decision decision-preview paginated-view paginated-view-preview ht-dms-partial" id="decision-{{ID}}">
        <div class="consensus-view consensus-view-in-preview" did="{{ID}}" style="display:none;" >
        </div>
        <a class="button close" style="display:none">Close Consensus View</a>
        <header>
            <h3>
                {{{decisionLink link ID name true}}}
            </h3>
             {{{wp_baldrick_modal "consensus_details" "click" "button consensus-view-button"  "data-did" ID "View Consensus" "bldrk_consensus_details_cb"}}}
        </header>
        <div class="clear"></div>
        <div class="details">
            <p class="description">{{{decision_description}}}</p>
            <ul>
                <li>{{{groupLink group_link group_ID group_name false}}}</li>
                <li>Status: <span id="decision-status">{{decision_status}}</span></li>
                <li>Manager: {{manager.name}}</li>
                <li>Proposed By: {{proposed_by.name}}</li>
            </ul>
        </div>



    </div>
</script>
