<script id="group-preview" type="text/x-handlebars-template">
    <div class="group group-preview ht-dms-partial" id="group-{{ID}}">
        <h3>
            {{{groupLink link ID name true}}}
        </h3>
        <div class="details">
            <p class="description">{{{description}}}</p>
            <p>
                {{{organizationLink organization_link organization_ID organization_name false}}}
            </p>
            <ul id="group-members-{{ID}}" class="small-block-grid-10 large-block-grid-20">
                {{{userPreviewLoop members false true}}}
            </ul>
        </div>
    </div>
</script>
